<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Hello GoLang!</title>
    </head>
    <body>
        <h1>Hello GoLang!</h1>
        <p>Learning about {{.}} in GoLang</p>
        <br/>
        <a href="/my-dogs">See my Dogs</a>
    </body>
</html>