<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Hello GoLang!</title>
    </head>
    <body>
        <h1>My Dogs</h1>
        <p>My dogs are</p>
        {{range .}}
        <li>{{.}}</li>
        {{end}}
    </body>
</html>