<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Hello GoLang!</title>
    </head>
    <body>
        <h1>My Dogs</h1>
        <p>My dogs are</p>
        <br/>
        <br/>
        {{range $index, $element := .}}
        <p>Name: {{$element.Name}}</p>
        <p>AKA: {{$element.NickName}}</p>
        <br/>
        {{end}}
        <br/>
        <a href="/">Back home</a>
    </body>
</html>